@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Open+Sans&display=swap');

* {
    margin:0;
    padding:0;
    
}
body {
    font-family: Open Sans, sans-serif;
}
#home {
    background-color: #5ABCB9;
}
#main {
    text-align: center;
    font-size: 50px;
    color:black;
    
}
#menu  {
    text-align: center;
    padding-top:20px;  
}

#menu li {
    display:inline;  
}

#menu a {
    text-decoration: none; 
    color:black;  
}
#seperate a{
    color: maroon;
    text-transform: uppercase;
}
#menu a:hover {
    background-color:#6EF9F5;
    border-bottom: 1px solid red; 
}
#about {
    
    
    color:#6EF9F5;
    height:700px;
    background: url(../images/tread.jpg) no-repeat center center;
    background-size: cover;
}
#about h2 {
    color:#399E5A;
    padding-top:40px;
    text-decoration: underline;

    
}
#about p {
   
}
#about h4 {
    font-size: 120%;
    color:#399E5A;
}
#reasons {
    margin-left: 20px;
}
#banner {
    height:100px;
    background-color:#5ABCB9 ;
    text-align: center;
    font-size: 30px;
    color:black;
}
#class1{
    height:500px;
    width:25%;
    
    float:left;
    text-align: center;
    

}
#class1 img{
    height:200x;
    width:300px;
    border:solid 3px #399E5A;
 
    
}
#class2{
    height:500px;
    width:25%;
    
    float:left;
    text-align: center;
    
}

#class2 img{
    height:200x;
    width:300px;
    border:solid 3px #399E5A;
 
    
}
#class3{
    height:500px;
    width:25%;
    
    float:right;
    text-align: center;
   
}
#class3 img{
    height:200x;
    width:300px;
    border:solid 3px #399E5A;
   
}
#class4{
    height: 500px;
    width:25%;   
    float:right;
    text-align: center;
}
#class4 img{
    height:200x;
    width:300px;
    border:solid 3px #399E5A;    
}
#contact {
    text-align: center;   
}
#contact-form {
    
    height:450px;
    width:400px;
    background-color: #5ABCB9;
    
    color: black ;
    border: solid 2px black;
    margin:0 auto;
  
}
#social-media {
    margin-top: 50px;
    
}
#social-media h3 {
    
    text-align: center;
}
#sm-list {
    text-align: center;
}
}
#sm-list li{
    display: inline;
   
}
#sm-list a{
    color:black;
    font-size: 110%;
}
#sm-list a i {
    color:blue
}